
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Raleway", sans-serif;
  background-color: $intro-bg-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond';
}
