.intro-title {
    font-style: normal;
    font-size: 60px;
    line-height: 73px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 633px;
}

.intro-text {
    font-family: 'Oranienbaum';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 525px;
}

.buttons {
    // width: 700px;
}

.btn1 {
    background-color: #0500FF;
}

.btn2 {
    background-color: #5E0054;
}

.btn22 {
    background-color: #FF003D;
}

@media only screen and (max-width: 576px) {
    .buttons {
        flex-direction: column;
        width: auto;
    }

    .btn {
        width: 100%;
        margin-right: 0 !important;
    }

    .row {
        flex-direction: column-reverse;
    }

    .intro-title {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .intro-text {
        width: auto;
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}